<div class="popup" id="loginPopup" style="display: none;">
    <div class="overlay" onclick="openLoginWindow()"></div>
    <div class="content">
        <form action="/login/" method="POST">
            {% csrf_token %}
            <div class="container">
                <ul>
                    {{login_form.as_ul}}
                </ul>
                <button type="submit">Login</button>
            </div>

        </form>
        <p>or</p>
        
        <!-- <div id="customBtn" class="customGPlusSignIn">
            <span class="icon"></span>
            <span class="buttonText">Google</span>
          </div> -->
          <div class="g-signin2" id="customBtn"></div>
        
        <a href="#register">Or register now!</a>
    </div>
</div>